# =========================
# 1. بيئات العمل (أهم نقطة لتخفيف المساحة)
# =========================
sales-env/
node_modules/

# =========================
# 2. ملفات بايثون وجانجو الأساسية
# =========================
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
*.log
.env
media/

# =========================
# 3. ملفات التحزيم (PyInstaller)
# =========================
build/
dist/

# =========================
# 4. مساحة عمل Inno Setup (الملفات الضخمة)
# =========================
Venta_Workspace/Archive/
Venta_Workspace/Releases/
Venta_Workspace/Prerequisites/
*.exe
*.zip
*.rar
*.msu

# =========================
# 5. ملفات نظام التشغيل
# =========================
Thumbs.db
desktop.ini
.DS_Store